@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../assets/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../assets/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(../assets/iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(../assets/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

//button
.btn {
  min-width: 50px;
}

//form
.form-filed {
  .field-title {
    font-size: 14px;
    margin-bottom: 4px;
  }

  .field-comment {
    font-size: 12px;
    margin-top: 4px;
    color: #777;
  }

  input.field-control {
    width: 100%;
    height: 30px;
    border: 1px solid #311b92;
    border-radius: 2px;

    &[type="checkbox"] {
      width: 30px;
      // height: 30px;
    }
  }
}

// minxins
@each $pos, $key in (t, top), (r, right), (b, bottom), (l,left) {

  .b-#{$pos} {
    border-#{$key}: 1px solid hsla(0,0%,100%,.12);
  }

  .b-#{$pos}-n {
    border-#{$key}: none;
  }
}

.b-n {
  border: none;
}
